<div class="container">
  <h2>Course List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Códido</th>
        <th>Data de Lançamento</th>
        <th>Avaliação</th>
        <th>Opção</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>
          <img
            [src]="course.imageUrl"
            alt="logo course"
            [style]="'height: 40px; witdh: 40px'"
          />
        </td>
        <td>{{ course.name }}</td>
        <td>{{ course.price }}</td>
        <td>{{ course.code }}</td>
        <td>{{ course.releaseDate }}</td>
        <td>
          <app-star [rating]="course.rating"></app-star>
        </td>
      </tr>
    </tbody>
  </table>
</div>
